
.title{
    font-size:25px;
    color:#545463;
    margin:10px 0 0 10px;
}
.title-label{
    color:#545463;
    margin:10px 0 0 10px;
}
.title-form{
    margin: 0 10px 5px 10px;
    width:98%;
}
.content-label{
    color:#545463;
    margin:10px 0 0 10px;
}
.content-form{
    margin:0 10px 10px 10px;
    width:98%;
}
.btn-area{
    text-align: center;
}
.toukou{
    width:100px;
}
